<form action="/restaurants" method="POST">
  <input type="text" placeholder="name" name="name"></input>
  <input type="text" placeholder="name_en" name="name_en"></input>
  <input type="text" placeholder="category" name="category"></input>
  <input type="text" placeholder="image" name="image"></input>
  <input type="text" placeholder="location" name="location"></input>
  <input type="text" placeholder="phone" name="phone"></input>
  <input type="text" placeholder="google_map" name="google_map"></input>
  <input type="number" placeholder="rating" name="rating"></input>
  <input type="text" placeholder="description" name="description"></input>
  <button type="submit">Create</button>
</form>
