<div class="container mt-5">
  <form action="/restaurants" method="POST">
    <div class="form-group">
      <label for="name">餐廳名稱</label>
      <input type="text" class="form-control" id="name" placeholder="輸入餐廳名稱" name="name">
    </div>
    <div class="form-group">
      <label for="name_en">英文名稱</label>
      <input type="text" class="form-control" id="name_en" placeholder="輸入英文名稱" name="name_en">
    </div>
    <div class="form-group">
      <label for="category">餐廳分類</label>
      <input type="text" class="form-control" id="category" placeholder="輸入餐廳分類" name="category">
    </div>
    <div class="form-group">
      <label for="image">照片</label>
      <input type="text" class="form-control" id="image" placeholder="貼上照片連結" name="image">
    </div>
    <div class="form-group">
      <label for="location">地址</label>
      <input type="text" class="form-control" id="location" placeholder="輸入地址" name="location">
    </div>
    <div class="form-group">
      <label for="phone">電話</label>
      <input type="text" class="form-control" id="phone" placeholder="輸入電話" name="phone">
    </div>
    <div class="form-group">
      <label for="google_map">Google Map</label>
      <input type="text" class="form-control" id="google_map" placeholder="貼上Google Map連結" name="google_map">
    </div>
    <div class="form-group">
      <label for="rating">評分</label>
      <input type="text" class="form-control" id="rating" placeholder="輸入評分" name="rating">
    </div>
    <div class="form-group">
      <label for="description">餐點描述</label>
      <input type="text" class="form-control" id="description" placeholder="輸入餐點描述" name="description">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
